<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="{{ page.robots }}">

    <title>
        {% if page.title %}
            {{ page.title | strip_html }} &#8211;
        {% endif %}
        {{ site.title | strip_html }}
    </title>

    {% seo title=false %}

    <link
        rel="icon"
        href="/favicon.ico"
        sizes="any">
    <link
        rel="icon"
        type="image/svg+xml"
        href="/assets/favicon/favicon.svg">
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/assets/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/assets/favicon/manifest.json">

    <link rel="stylesheet" href="/assets/css/main.css">

    <link
        rel="alternate"
        type="application/rss+xml"
        title="RSS Feed for {{ site.title }}"
        href="/feed.xml" />
</head>
