<header class="site-header pa3 pt4">
    <div class="wrapper">
        <div class="measure cf">
            <a class="site-title dark-link ma0 f4 fw3 tc" href="{{ site.url }}">Null Space</a>
            <nav class="site-nav ma0 fw3 tc">
                <a class="site-nav-link dark-link" href="/search">Search</a>
                <a class="site-nav-link dark-link" href="/about">About</a>
                <a class="site-nav-link dark-link" href="/tags">Tags</a>
                <a class="site-nav-link dark-link" href="/contact">Say Hello</a>
            </nav>
        </div>
    </div>
</header>