footer {
    font-size: $font-size-6;
    color: $gray;

    padding: $spacing-medium;
    padding-bottom: $spacing-large;
}

footer a {
    color: $gray;
}

.author-info {
    float: left;
}

.rss-link {
    float: right;
}