.site-footer {
    font-size: $font-size-6;
    color: $gray;

    padding: $spacing-large $spacing-medium;
}

.footer-fix-margin {
    // Giscus applies 3rem padding bottom, so we compensate for it
    margin-top: -3rem;
}

.site-footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rss-link {
    color: $gray;
}