.site-header {
    text-align: center;

    padding: $spacing-medium;
    padding-top: $spacing-large;
}

.site-title {
    font-size: 1.2rem;
    font-weight: 700;
    float: left;
}

.site-nav {
    font-size: 1.2rem;
    font-weight: 300;
    float: right;
}

.site-nav-link + .site-nav-link {
    margin-left: $spacing-medium;
}