.site-header {
    text-align: center;

    padding: $spacing-medium;
    padding-top: $spacing-large;
}

.site-header-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.site-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.site-nav {
    font-weight: 300;
}

.site-nav-link + .site-nav-link {
    margin-left: $spacing-medium;
}