*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;

    // put footer below page (also see: _footer.scss)
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    padding: $spacing-medium;
}

@media print {
    .site-header, .site-footer {
        display: none;
    }
}

img {
    max-width: 100%;
}

.gsc-timeline.input-top {
    padding-bottom: $spacing-medium;
}