a,
a:visited {
    text-decoration: none;
    color: $blue;
}


a:hover,
a:focus,
a:active {
    color: $dark-gray;
}

.dark-link,
.dark-link:visited {
    text-decoration: none;
    color: $dark-gray;
}

.dark-link:hover,
.dark-link:focus,
.dark-link:active {
    color: $dark-gray;
    opacity: .7;
}