a {
    @extend .link, .blue, .hover-dark-gray;
}

.dim-88 {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim-88:hover,
.dim-88:focus,
.dim-88:active {
    opacity: .88;
    transition: opacity .15s ease-in;
}

.dark-link {
    @extend .link, .dim-88, .dark-gray;
}