@media #{$breakpoint-not-small} {
    html {
        font-size: $base-font-size + 1px !important;
    }

    .site-title {
        font-size: inherit;
        float: left;
    }

    .site-nav {
        float: right;
    }
}

@media #{$breakpoint-medium} {
    html {
        font-size: $base-font-size + 2px !important;
    }
}

@media #{$breakpoint-large} {
    html {
        font-size: $base-font-size + 3px !important;
    }
}