.post-date {
    color: $gray;

    margin-bottom: $spacing-extra-small;
}

.post-title {
    // Same as H1
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    font-size: $font-size-2;

    word-break: keep-all;
    word-wrap: break-word;

    margin-bottom: $spacing-medium;
}

.post-tag {
    color: $dark-gray;
    background-color: $light-gray;
    border-radius: $border-radius-2;

    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
}

.post-tag:hover {
    text-decoration: none;
    opacity: .7;
}

.post-tag+.post-tag {
    margin-left: $spacing-extra-small;
}

.post-header {
    margin-top: $spacing-large;
}

.post-content {
    margin-top: $spacing-large;
}

.post-content-bottom-hr {
    margin-top: $spacing-extra-large
}

// Override when footnotes exist.
.footnotes+.post-content-bottom-hr {
    margin-top: $spacing-large;
}