.post-item {
    padding-top: $spacing-large;
    padding-bottom: $spacing-large;
}

.post-item:not(:last-child) {
    border-bottom: 1px solid $near-white;
}

.post-date {
    color: $gray;

    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
}

.post-title {
    // Same as H1
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    font-size: $font-size-2;

    word-break: keep-all;
    word-wrap: break-word;

    margin-bottom: $spacing-medium;
}

.tag {
    color: $dark-gray;
    background-color: $light-gray;
    border-radius: $border-radius-2;

    transition: opacity .15s ease-in;

    padding-top: $spacing-extra-small;
    padding-bottom: $spacing-extra-small;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
}

.tag:hover {
    opacity: .7;
}

.tag + .tag {
    margin-left: $spacing-extra-small;
}

.post-header {
    padding-top: $spacing-large;
}

.post-content {
    margin-top: $spacing-large;
}

.post-footer {
    margin-top: $spacing-extra-large;
    // Remove giscus's own 3rem padding
    margin-bottom: -3rem;
    padding-top: $spacing-large;
    border-top: 1px solid $moon-gray;
}