table {
    border-collapse: collapse;
    border-spacing: 0;

    margin-bottom: $spacing-small;

}

th, td {
    border: 1px solid $black-10;
}


th {
    text-transform: uppercase;

    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
}

tbody tr:nth-child(odd){
    background-color: $near-white;
}


td {
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;
}