// Typography 
$base-font-size: 14px !default;
$bold-font-weight: bold !default;
$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !default;
$line-height: 2.0 !default;

$heading-font-family: $font-family !default;
$heading-font-weight: 700 !default;
$heading-line-height: 1.25 !default;

$monospace-font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !default;

$h1: 2.369rem !default;
$h2: 1.777rem !default;
$h3: 1.333rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;
$h00: 4rem !default;
$h0: 3rem !default;

$abbr-border-bottom: 1px black dotted;

