// Typography 
$base-font-size: 14px !default;
$bold-font-weight: bold !default;
$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !default;
$line-height: 2.0 !default;

$heading-font-family: $font-family !default;
$heading-font-weight: 700 !default;
$heading-line-height: 1.25 !default;

$monospace-font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !default;

$abbr-border-bottom: 1px black dotted;

