@use "variables" as *;

.site-footer {
    font-size: $font-size-6;
    color: $gray;

    padding: $spacing-large $spacing-medium-large;

    // put footer below page (also see: _layout.scss)
    margin-top: auto;
}

.site-footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rss-link {
    color: $gray;
}
