.site-header {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
    padding-top: $spacing-large;
    padding-bottom: 0;
}

.site-header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-size: $font-size-3;
    font-weight: $bold-font-weight;
}

.site-nav {
    margin-top: $spacing-small;
}

.site-nav-link+.site-nav-link {
    margin-left: $spacing-medium;
}

@media #{$breakpoint} {
    .site-header-wrapper {
        flex-direction: row;
    }

    .site-title {
        font-size: 1.125rem;
    }

    .site-nav {
        font-size: 1.125rem;
        margin-top: 0;
    }
}
