@use "variables" as *;

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;

    // put footer below page (also see: _footer.scss)
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    padding: $spacing-large $spacing-medium-large;
}

.width-wrapper {
    margin: 0 auto;
    max-width: $max-width;
}

@media print {

    .site-header,
    .site-footer {
        display: none;
    }
}

img {
    display: block;
    margin: 0px auto;
    max-width: 100%;
}
