@use "variables" as *;

a {
    text-decoration: none;
    color: $blue;
}

a:hover {
    text-decoration: underline;
}

.dark-link {
    text-decoration: none;
    color: $dark-gray;
}

.dark-link:hover {
    text-decoration: none;
    color: $dark-gray;
    opacity: .7;
}
