---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <div class="post-date">{{ page.date | date: site.date_format }}</div>
        <div class="post-title">
            {{ page.title | escape }}
        </div>
        <div class="post-tags">
            {% for tag in page.tags %}
            <a class="tag" href="/tags/#{{ tag | slugize }}">{{ tag }}</a>
            {% endfor %}
        </div>
    </header>
    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
    <hr>
    <footer class="post-footer">
        <script src="https://giscus.app/client.js" data-repo="sp301415/sp301415.github.io"
            data-repo-id="MDEwOlJlcG9zaXRvcnkyOTA3OTQzMjc=" data-category="Comments"
            data-category-id="DIC_kwDOEVUrV84CAGN1" data-mapping="title" data-reactions-enabled="0"
            data-emit-metadata="0" data-input-position="top" data-theme="light" data-lang="ko" crossorigin="anonymous"
            async>
            </script>
    </footer>
</article>